.price {
  font-weight: 600;
}

.item {
  position: relative;
  display: flex;
  border: 1px solid #eee;
  border-radius: 6px;
  border-left: 0;
  border-right: 0;
  justify-content: space-between;
  align-items: center;
  padding: 15px;

  transition: box-shadow 0.2s ease;
}

.total {
  display: flex;
  align-items: center;
  gap: 3px;
}

.item:hover {
  box-shadow: -5px -4px 1px rgb(255 198 5 / 5%),
    1px -1px 2px rgb(255 198 5 / 5%), 0px 4px 4px rgb(255 198 5 / 5%),
    0px 8px 8px rgb(255 198 5 / 5%), 0px 16px 16px rgb(255 198 5 / 5%),
    0px 32px 32px rgb(255 198 5 / 5%), 0px -2px 4px rgb(255 198 5 / 5%);
}

.cartActions {
  display: flex;
  gap: 10px;
  align-items: center;
}

.wrap {
  display: flex;
  align-items: center;
  gap: 40px;
  flex-basis: 330px;
}

.close {
  position: absolute;
  top: 50%;
  right: 15px;
  color: #d4d3d3;
  cursor: pointer;
  width: 30px;
  height: 30px;
  transform: translateY(-50%);

  transition: color 0.2s ease;
}

.close:hover {
  color: var(--color-primary);
}

@media screen and (max-width: 700px) {
  .item {
    flex-wrap: wrap;
    padding-right: 45px;
  }

  .wrap {
    flex-basis: auto;
    gap: 15px;
  }

  .image {
    height: 85px;
    width: 85px;
  }

  .close {
    position: absolute;
    top: 15px;
    right: 15px;
    transform: translateY(0);
  }

  .title {
    font-size: 12px;
  }

  .price {
    font-size: 13px;
  }
}
