:root {
  --accent-color: #ffc605;
  --accent-hover-color: #ffd600;
  --color-primary: #542a69;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}
